/*ANIMATE*/

.visibility-check {
  opacity:0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeUp {
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
}


@-webkit-keyframes animateRight {
    0%   {
      margin-left: -10px;
      opacity:0.5;
    }
    100% {
      margin-left: 10px;
      opacity:1;
    }
}